{% extends "base.html" %}

{% block extrahead %}

<script src="https://jquery-csv.googlecode.com/git/src/jquery.csv.js"></script>
<script src="/static/permutations.js"></script>
<script src="/static/EmailValidator.js"></script>

{% endblock %}

{% block content %}

<h1 class="text-warning">Bulk Person Email Verification</h1>

<div id="messages"></div>

<div>
	<p><span><strong>API Key: </strong></span><span class="text-primary">{{apiKey}}</span></p>
	<input type="hidden" id="apiKey" value="{{apiKey}}"></input>
</div>
<hr />

<p>Use file selector to upload CSV file of the format <b>firstname, lastname, domain</b>.
Then click "Execute Batch", once the progress bar is finished you will be prompted to
download the CSV file containing the results of the bulk run.</p>
<div id=inputs class=clearfix>
  <input type=file id=files name=files[] multiple />
</div>
<hr />
<output id=list>
</output>
<hr />
<input type="button" id="startButton" value="Execute Batch" />
<hr />
<div class="progress">
  <div id="status" class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" style="width:0%">
    0% Complete
  </div>
</div>

<!--
<div>
	<label for="emailPermutations">Email Permutations</label>
</div>
<textarea rows="8" cols="50" name="emailPermutations"></textarea>-->

{% endblock %}