{% extends "base.html" %}

{% block extrahead %}

<script src="https://jquery-csv.googlecode.com/git/src/jquery.csv.js"></script>
<script src="/static/permutations.js"></script>
<script src="/static/EmailValidator.js"></script>

{% endblock %}

{% block content %}

{% if error_message %}<div class="alert alert-danger"><strong>{{ error_message }}</strong></div>{% endif %}
{% if success_message %}<div class="alert alert-success"><strong>{{ success_message }}</strong></div>{% endif %}

<h1>Email Verification Application</h1>

<p> This app allows you to manage your api key, do single person email verification, or do bulk person
email verification through use of CSV file.
</p>

<h2 class="text-warning">API Key Maintenance</h2>
<div>
	<form role="form" class="form-horizontal" action="{% url 'index' %}" method="post">
		{% csrf_token %}
		<p>This button will save the API Key entered as the default key to use.</p>
		<label class="control-label col-sm-2" for="apiKey">API Key</label>
		<div class="col-sm-8">
			<input type="text" name="apiKey" id="apiKey" size="70" value="{{ apiKey }}"/>
		</div>
		<div class="col-sm-2">
			<input class="btn btn-primary" type="submit" value="Save As Default API Key">
		</div>
	</form>
</div>
<hr />

<h2 class="text-warning">Single Person Email Verification</h2>
<div>
	<p>Use this link if you just wish to find valid emails for a single person at a time.</p>
	<a href="{% url 'singleprocess' %}">Single Person Process</a>
</div>
<hr />

<h2 class="text-warning">Bulk Person Email Verification</h2>
<div>
	<p>Use this link to process all people in a CSV file of the format <b>firstname, lastname, domain</b>.</p>
	<a href="{% url 'bulkprocess' %}">CSV File Process</a>
	
</div>
<hr />
<hr />

<!--
<div>
	<label for="emailPermutations">Email Permutations</label>
</div>
<textarea rows="8" cols="50" name="emailPermutations"></textarea>-->

{% endblock %}