{% extends "base.html" %}

{% block extrahead %}

<script src="https://jquery-csv.googlecode.com/git/src/jquery.csv.js"></script>
<script src="/static/permutations.js"></script>
<script src="/static/EmailValidator.js"></script>

{% endblock %}

{% block content %}

<h1 class="text-warning">Single Person Email Verification</h1>

<div>
	<p><span><strong>API Key: </strong></span><span class="text-primary">{{apiKey}}</span></p>
	<input type="hidden" id="apiKey" value="{{apiKey}}"></input>
</div>
<hr />
<div>
	<p>Enter details for a person then click "Find Emails"</p>
	<form role="form" class="form-horizontal" action="{% url 'singleprocess' %}" method="post">
		{% csrf_token %} 
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="firstName">First Name: </label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="firstName" placeholder="John"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="lastName">Last Name: </label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="lastName" placeholder="Smith"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="domain">Domain: </label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="domain" placeholder="yahoo.com"/>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-primary" id="findEmailsButton">Find Emails</button>
			</div>
		</div>
	</form>
</div>
<hr />
<h2 class="text-warning">Results</h2>
<div id="results">
	<table id="resultsTable" class="table table-hover">
		<thead>
		  <tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Domain</th>
			<th>Email</th>
		  </tr>
		</thead>
		<tbody>
		</tbody>
  </table>
</div>


<!--
<div>
	<label for="emailPermutations">Email Permutations</label>
</div>
<textarea rows="8" cols="50" name="emailPermutations"></textarea>-->

{% endblock %}