{% extends "base.html" %}

{% block extrahead %}

<script src="https://jquery-csv.googlecode.com/git/src/jquery.csv.js"></script>
<script src="/static/permutations.js"></script>
<script src="/static/EmailValidator.js"></script>

{% endblock %}

{% block content %}

<div>
	<p><span><strong>API Key: </strong></span><span class="text-primary">{{apiKey}}</span></p>
</div>
<hr />
<div>
	<p>Enter details for a person then click "Find Emails"</p>
	<form role="form" class="form-horizontal" action="{% url 'singleprocess' %}" method="post">
		{% csrf_token %} 
		
		<label class="control-label col-sm-2" for="firstName">First Name: </label>
		<div class="control-label col-sm-10">
			<input class="form-control" type="text" id="firstName" placeholder="John"/>
		</div>
		
		<label class="control-label col-sm-2" for="lastName">Last Name: </label>
		<div class="control-label col-sm-10">
			<input class="form-control" type="text" id="lastName" placeholder="Smith"/>
		</div>
		
		<label class="control-label col-sm-2" for="domain">Domain: </label>
		<div class="control-label col-sm-10">
			<input class="form-control" type="text" id="domain" placeholder="yahoo.com"/>
		</div>
		
		<input class="btn btn-primary" type="submit" value="Find Emails">
	</form>
</div>
<hr />
<div id="results">

</div>


<!--
<div>
	<label for="emailPermutations">Email Permutations</label>
</div>
<textarea rows="8" cols="50" name="emailPermutations"></textarea>-->

{% endblock %}